* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: linear-gradient(120deg, #20242e, #21222c);
}

.container {
    background-color: #15151a;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);

    padding: 1.875rem 2.5rem;
    border-radius: .5rem;

    width: 40%;
    min-width: 31.25rem;
}

.new-task-container {
    display: flex;

    /* background-color: #1f2125; */
    padding: 1.875rem 1.25rem;
    border-radius: 0.3125rem;
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */
}

.new-task-container > .new-task-input {
    flex: 3;

    padding: 0.75rem;
    border: 2px solid #323236;
    border-radius: .35rem;
    background: none;
    
    font-size: 1rem;
    font-weight: 500;
    color: #323236;

    outline: none;
    transition: 0.25s ease-in-out;
}

.new-task-container > .new-task-input:focus {
    border-color: #f79c25;
    color: #f0cfa2;
}

.new-task-container > .new-task-button {
    flex: 1;

    height: 100%;
    padding: 1rem;
    margin-left: .85rem;

    border-radius: 0.3125rem;
    border: none;
    background-color: #f79c25;    
    
    font-size: 1rem;
    font-weight: 500;
    color: #15151a;

    cursor: pointer;
    outline: none;
}

.tasks-container {
    background-color: #1f2125;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

    width: 100%;
    padding: 30px 20px;
    border-radius: 7px;
}

.tasks-container > .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: .75rem;
    margin: 6px 0 6px;
}

.tasks-container > .task-item p {
    color: #f0cfa2;
    font-weight: 500;
}
.tasks-container > .task-item i {
    color: #f79c25;
    font-size: 1.5rem;
    cursor: pointer;
}
/* Utility */
.error { border-color: #eb1f41 !important; }
.error::placeholder { color: #eb1f41 !important; }